.transactionHistory {
  width: 100%;
  max-width: 800px;
  box-shadow: -1px 1px 6px grey;
  border-collapse: collapse;
}
.titles {
  background-color: lightskyblue;
  color: white;
  th {
    padding: 10px 5px;
    border-right: 2px solid white;
  }
  th:last-child {
    border-right: none;
  }
}
.tableLine {
  background-color: lightgray;
  color: grey;
}
.tableLine td {
  padding: 10px 5px;
  border-right: 2px solid grey;
}
.tableLine td:last-child {
  border-right: none;
}
.tableLine:nth-child(odd) {
  background-color: white;
}
