.item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 8px;
  /* border-bottom: 1px solid grey; */
}
.item::before {
  content: "";
  position: absolute;
  left: -10%; /* расширяет слева */
  right: -10%; /* расширяет справа */
  bottom: -8px;
  height: 4px; /* толщина подчёркивания */
  background-color: white;
  border-radius: 2px;
}
