p{
    font-size: 16px;
}
.wrapper p{
    font-size: 18px;
}
#p1{
    text-decoration-line: underline;
    text-transform: uppercase;
    color: red;
}
.wrapper_p1 p{
    color: blue;
    background: yellow;
}

